{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/footer.css" %}">


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Member</h4>
                <ul>
                <li><a href="#">King Jhusfer Manuel</a></li>
                    <li><a href="#">Alfredo Roi Naluz</a></li>
                    <li><a href="#">John Ford Actub</a></li>
                    <li><a href="#">Adrian Paul Sapnu</a></li>
                 <li><a href="#">Dhen Andrei Tique</a></li>
                 <li><a href="#">Jerome Bondoc Guina</a></li>
                 <li><a href="#">Mc Karl Kennedy Javier</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Computer Science</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Thesis</h4>
                <ul>
                    <li><a href="#">Hatdog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock content %}