{% block content %}

{% block css %}

{% load static %}
<link rel="stylesheet" href="{% static "css/header.css" %}">
{% endblock css %}



<div class="header-nav-container">

    <header>
        <div class="logo">
            <img src="{% static "img/logoW.png" %}" alt="DHVSU Archives Logo">
            <h1><a href="home">DHVSU Archives</a></h1>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="#featured" id="featured-link">Featured</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Department</a>
                <ul class="dropdown-menu">
                    <li><a href="#">School of Law</a></li>
                    <li><a href="#">Graduate School</a></li>
                    <li><a href="#">College of Arts and Sciences</a></li>
                </ul>
            </li>
                
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Courses</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Computer Science</a></li>
                    <li><a href="#">Information Technology</a></li>
                    <li><a href="#">Information System</a></li>
                </ul>
            </li>
            <li><a href="#">Profile</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url "library" %}">Submit Document</a></li>
            {% endif %}
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>
    



    <div class="user-info">
        {% if user.is_authenticated %}
            <span id="welcome-user">Welcome <u>{{ user.username }}</u> | </span>
            <a href="{% url 'authentication:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'authentication:authentication' %}">Login/Register</a>
        {% endif %}
    </div>

 </div>

 <script>
    let prevScrollPos = window.pageYOffset;
    const header = document.querySelector('.header-nav-container');
    const navLinks = document.querySelectorAll('nav li a');
    const dropdownMenu = document.querySelector('.dropdown-menu');

    window.onscroll = function() {
        const currentScrollPos = window.pageYOffset;

        if (currentScrollPos === 0) {
            // At the top of the page
            header.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
            header.style.color = '#fff';
            document.querySelector('.logo img').src = "{% static "img/logoW.png" %}";
            document.querySelector('.logo h1 a').style.color = '#fff';
            document.querySelector('.user-info a').style.color = '#fff';
            navLinks.forEach(link => {
                link.style.color = '#fff';
            });
            header.style.borderTop = '10px solid #600414';
            header.classList.remove('header-hidden');
            header.style.height =  '105px';
        } else if (prevScrollPos > currentScrollPos) {
            // Scrolling up
            header.style.backgroundColor = 'white';
            header.style.color = '#000';
            document.querySelector('.logo img').src = "{% static "img/logo.png" %}";
            document.querySelector('.logo h1 a').style.color = '#600414';
            document.querySelector('.user-info a').style.color = '#000';
            navLinks.forEach(link => {
                link.style.color = '#000';
            });
            header.style.borderTop = '10px solid #600414';
            header.classList.remove('header-hidden');
            header.style.height =  '100px';
        } else {
            // Scrolling down
            header.classList.add('header-hidden');
        }

        const isDropdownOpen = dropdownMenu.style.display === 'block';

        if (isDropdownOpen || currentScrollPos === 0) {
            dropdownMenu.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
        } else {
            dropdownMenu.style.backgroundColor = 'white';
        }

        prevScrollPos = currentScrollPos;
    };
</script>


{% endblock content %}