.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Sidebar styles */
/* Sidebar styles */
.sidebar {
  width: 50%;
  height: 50%;
  padding: 20px;
  background-color: rgba(96, 4, 20, 1);
  border-radius: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
  color: #ffffff;
  transition: background-color 0.4s ease, transform 0.3s ease; /* Added transition for smooth effect */
}

.sidebar:hover {
  background-color: rgba(96, 4, 20);
  transform: scale(1.02); /* Slight zoom-in effect */
}


.sidebar h2 {
    margin-top: 0;
    font-size: 18px;
}

.sidebar label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
}

.sidebar button {
    display: block;
    width: 50%;
    padding: 10px;
}