.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar{
    width: 25%;
    padding: 20px;
    background-color: #600414;
    border-radius: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2{
    margin-top: 0;
    font-size: 18px;
}

.sidebar label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar select{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.sidebar button{
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #ffbc2c;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.sidebar button:hover{
    background-color: #cf9923;
}



.main-content{
    width: 70%;
    padding: 20px;
}

.document-list ul{
    list-style: none;
    padding: 0;
}

.document-list li{
    margin-bottom: 10px;
}

.document-list a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.document-list a:hover{
    text-decoration: underline;
}