/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and a font to the entire page */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Center the content in the middle of the page */
.container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
}

/* Style the form container */
.submit-doc {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form heading */
.submit-doc h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style the form inputs */
.submit-doc form input[type="text"],
.submit-doc form textarea,
.submit-doc form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
}


/* Style the submit button */
.submit-doc form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Add hover effect to the submit button */
.submit-doc form input[type="submit"]:hover {
    background-color: #0056b3;
}
