{% extends "base.html" %}

{% block content %}
<h1>Users</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Last Login</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>2023-10-24</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>

<h2>Create User</h2>
<form action="" method="POST">
    {% csrf_token %}
    
    <input type="text" name="" id="">
    <input type="text" name="" id="">
</form>

{% endblock content %}